#start-btn
{
    width: 25%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
    padding: 0px;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    background-size: cover;
}
#result{
    width: 360px;
    height: 270px;
}